*{
  margin: 0px;
  padding: 0px;
}
table tr td{
  border: solid black 1px;
}
#vivant{
  background-color: green;
  color: green;
  width: 20px;
  height: 20px;
}
#mort{
  background-color: red;
  color: red;
  width: 20px;
  height: 20px;
}
