*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
header{
    width: 100%;
    height: 80px;
    background-color: #77D0D4;
    border-bottom: solid grey 2px;
}
header form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menuButton{
    background-color: rgba(180,224,223,1);
    width: 150px;
    font-size: 15px;
    height: 50px;
    border: solid grey 1px;
    border-radius: 5px;
    text-decoration: underline;
    color: #FA5F4B;
}
.menuButton[type="text"],.menuButton[type="password"]{
    height: 30px;
    padding-left: 5px;
}
.menuButton:hover{
    background-color: rgba(180,224,223, 0.2);
}
#datePickerMenu{
    width: 100%;
    border-bottom: solid grey 2px;
    height: 50px;
    background-color: #FA5F4B;
}
#datePickerMenu form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#datePickerMenu input[type="submit"]{
    width: 90px;
    height: 30px;
    border-radius: 6px;
    background-color: rgba(180,224,223,1);
    border: solid grey 1px;
    color: grey;
}
#datePickerMenu input[type="date"]{

}
table{
    margin-top: 15px;
    border: solid grey 1px;
    border-collapse: collapse;
}
table tr td{
    border: solid grey 2px;
}
.day{
    margin-left: auto;
    margin-right: auto;
}
.numberDay{
    border-bottom: solid grey 1px;
    height: 20px;
}
.eventsCalendar{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 122px;
    width: 150px;

}
.book.calendar{
    background-color: rgba(0,0,0,0);
    border-width: 0px;
    text-decoration: underline;
}
.showMore{
    margin-top: 4px;
    width: 75px;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(180,224,223,1);
    border: solid grey 1px;
    color: #FA5F4B;
}
.tableCase{
    width: 150px;
    text-align: center;
    height: 33px;
}
.tableCase form{
  width: 100%;
  text-align: center;
}
#addEvent{
    text-align: center;
}
#addEvent form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addEvent form label{
    margin-top: 15px;
}
#addEvent form input[type="text"]{
    margin-top: 15px;
}
#addEvent form input[type="text"],#addEvent form input[type="time"],#addEvent form input[type="date"],#addEvent form input[type="file"] {
    width: 200px;
}
#addEvent form input[type="submit"]{
    margin-top: 30px;
    width: 90px;
    height: 30px;
    border-radius: 6px;
    background-color: rgba(180,224,223,1);
    border: solid grey 1px;
    color: grey;
}
h1{
    text-decoration: underline;
    color: #FA5F4B;
}
#subForm{
    margin-top: 30px;
    height: 50%;
    width: 100%;
    text-align: center;
}
#subForm form{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#subForm form input[type="text"],#subForm form input[type="password"]{
    width: 230px;
    border: solid grey 1px;
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
}
#subForm form input[type="submit"]{
    width: 150px;
    height: 40px;
    background-color: #FA5F4B;
    border: solid grey 1px;
    border-radius: 7px;
    color: rgba(180,224,223,1);
    font-size: 18px;
    font-weight: 900;
    margin-top: 30px;
}
label{
    margin-top: 15px;
}
select{
    margin-top: 20px;
    width: 110px;
    height: 30px;
    background-color: white;
    border: solid grey 1px;
    border-radius: 7px;
    color: grey;
    font-size: 15px;
    text-decoration: underline;
}
.anEvent{
  display: flex;
  justify-content: center;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.eventImage{
  height: 40px;
}
